<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%- blog.title %> | Aahavaniya</title>

    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/blog-post-style.css" />

    <link rel="icon" href="/favicon.ico?v=2" type="image/x-icon" />
  </head>
  <!-- check -->
  <body>
    <%- include ('partials/header') %>

    <section class="blog-hero-banner">
      <img src="<%- blog.image %>" alt="<%- blog.title %>" />
    </section>

    <main class="blog-post">
      <h1 class="blog-post-title"><%- blog.title %></h1>
      <p class="blog-meta">
        Posted on <%- blog.date %> | Category: <%- blog.category %>
      </p>
      <%- content %>
      <a href="/blog" class="back-link">← Back to Blog</a>
    </main>

    <%- include ('partials/footer') %>
  </body>
</html>
